# Banco de Dados PostgreSQL
POSTGRES_DB=desafio_excellent
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

# Conexão do Backend com o Banco
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=
DATABASE_NAME=desafio_excellent

# PgAdmin
PGADMIN_EMAIL=admin@desafio.local
PGADMIN_PASSWORD=
PGADMIN_PORT=5050

# Backend (NestJS)
BACKEND_PORT=3000
NODE_ENV=development

# Frontend (Angular)
FRONTEND_PORT=4200